@use "./base/_reset.scss";
@use "./base/_typography.scss";
@use "./components/_buttons.scss";
@use "./components/_carousel.scss";
@use "./layout/_footer.scss";
@use "./layout/_forms.scss";
@use "./layout/_grid.scss";
@use "./layout/_header.scss";
@use "./themes/_theme.scss";
@use "./utils/_mixins.scss";
@use "./utils/_variables.scss";
@use "./pages/_blogs.scss";
@use "./pages/_courses.scss";
@use "./pages/_home.scss";


a{
    text-decoration: none;
}
body{
    font-family: "Lato";
    font-style: normal;
}