// main btn
$btn-main-bg: #bd8f5b;
$btn-main-border: #e5e7ea;
$btn-main-color: #ffffff;
$btn-main-hover-bg: #f5f5f5;
$btn-main-hover-border: #bd8f5b;
$btn-main-hover-color: #000000;
$btn-main-active-bg: #bd8f5b;
$btn-main-active-border: #bd8f5b;
$btn-main-active-color: #ffffff;

// dark mode btn
$slider-btn-bg: #f5f5f5;
$slider-btn-hover-bg: #f5f5f5;
$slider-btn-hover-img: invert(0%) sepia(45%) saturate(5792%) hue-rotate(308deg)
  brightness(95%) contrast(108%);
$slider-btn-active-bg: #bd8f5b;
$slider-btn-active-img: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg)
  brightness(118%) contrast(118%);

// slider btn
$slider-btn-bg: #f5f5f5;
$slider-btn-hover-bg: #f5f5f5;
$slider-btn-hover-img: invert(0%) sepia(45%) saturate(5792%) hue-rotate(308deg)
  brightness(95%) contrast(108%);
$slider-btn-active-bg: #bd8f5b;
$slider-btn-active-img: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg)
  brightness(118%) contrast(118%);

// backtop btn
$backtop-btn-bg: #bd8f5b;
$backtop-btn-hover-bg: #bd8f5bcc;;
$backtop-btn-active-bg: #F5F5F5;
$backtop-btn-active-img: invert(0%) sepia(45%) saturate(5792%) hue-rotate(308deg)
  brightness(95%) contrast(108%);


// Social media buttons
$instagram-btn-bg: #bd8f5b;
$instagram-btn-hover-bg: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
$twitter-btn-bg: #bd8f5b;
$twitter-btn-hover-bg: #55ACE3;
$facebook-btn-bg: #bd8f5b;
$facebook-btn-hover-bg: #0B84EE;
$viber-btn-bg: #bd8f5b;
$viber-btn-hover-bg: #48C95F;


// secondary btn
$btn-secondary-bg: #f1f0ee;
$btn-secondary-color: #000000;
$btn-secondary-hover-border: #bd8f5b;

// select btn
$select-hover-bg: #F5F5F5;

// card
$card-hover-bg: #fff;
$card-hover-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
