@use "../utils/variables" as variables;

.location {
  display: flex;
  align-items: center;
  margin-top: 32px;
  gap: 10px;
  .prev_page {
    width: auto;
    height: 22px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #c4c4c4;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .active_page {
    height: 22px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #ba8d5b;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
.seach_bit {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 56px;
    display: flex;
    align-items: center;
    letter-spacing: -0.64px;

    color: #0f1826;
  }
  input {
    background: #f7f7f5;
    border-radius: 100px;
    border: none;
    padding: 15px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    width: 330px;
    height: 48.39px;
    color: #757575;
    outline: none;
  }
}
.searchs {
  display: flex;
  background: #f7f7f5;
  width: 370px;
  height: 48px;
  border-radius: 100px;
}

.search_icon {
  width: 15.53px;
}
.btnses {
    display: flex;
    gap: 16px;
    margin-top: 24px;
  }
.all_courses {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 25.05px 16px 26px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  border: none;

  background: variables.$btn-main-bg;
  border-radius: 32px;
  cursor: pointer;
  &:hover {
    background: #f7f7f5;
    color: #000;
  }
  &:active {
    color: variables.$btn-main-active-color;
    border: none;

    background: variables.$btn-main-active-bg;
  }
}

.dasturlash {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 25.22px 16px 26px;

  border: none;

  background: variables.$btn-main-hover-bg;
  border-radius: 32px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  &:hover {
    border: 1px solid #ba8d5b;
  }
}

.box_program {
  width: 543.5px;
  height: auto;

  background: #f9f8f7;
  border-radius: 4px;
  .box_top {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    align-items: center;
  }
  .subject {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #ba8d5b;
  }
  .time {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #ba8d5b;
  }
  .box_btn {
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 12.91px 5px 12px;

    width: 90.91px;
    height: 28px;
    background: #d1d1d1;
    border-radius: 4px;
    border: none;

    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    align-items: center;

    color: #000000;
  }
}
.text {
  margin-left: 24px;
  h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: -0.56px;

    color: #000000;
  }
  p {
    width: 270px;
    height: 120px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    margin-top: 24px;

    display: flex;
    align-items: center;
    letter-spacing: -0.28px;

    color: rgba(0, 0, 0, 0.7);
  }
}

.all {
  display: flex;
  //   flex-wrap: wrap;
}
.all_boxes {
  display: flex;
  margin-top: 72px;
  gap: 31px;
  //   flex-wrap: wrap;
  //   justify-content: center;
}
.block_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.end {
  margin-right: 24px;
  display: none !important;

  &_bottom {
    margin: 24px;
    display: none;
  }
}

@media screen and (max-width: 1075px) {
  .all {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1025px) {
  .end {
    display: block !important;
  }
  .end_bottom {
    display: block;
  }
  .box_top {
    display: none !important;
  }
}

@media screen and (max-width: 735px) {
  .all_boxes {
    display: flex;
    gap: 31px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
