#our_pref {
  .left_card {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .txt {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #0f1826;
  }
  .all_cards {
    display: flex;
    // flex-wrap: wrap;
    gap: 60px;
  }
  .card_one {
    display: flex;
    gap: 47px;
    img {
      margin-top: -25px;
    }
  }
  .all_txt {
    margin-top: 38px;
  }
  .txt_p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: #0f1826;
  }
  .txt_all {
    font-family: "Lato";
    font-style: normal;
    max-width: 433px;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
    color: #607987;

    margin-top: 16px;
  }
}

@media screen and (max-width: 730px) {
  .all_cards {
    display: flex;
    flex-wrap: wrap;
  }
}
// bizning afazlliklar tugadi

// Bizning kurslar boshlandi

#our_courses {
  background: #f9f8f7;
  margin-top: 54px;

  .facultet {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: -0.64px;
    color: #0f1826;
    padding-top: 48px;
  }
  .title {
    padding-top: 24px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #607987;
  }
  .boxes {
    margin-top: 24px;
    display: flex;
    gap: 35px;
  }
  .programming {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 17px 17px;
    gap: 12px;

    width: 254.5px;
    height: 97px;

    border: 1px solid #607987;
    border-radius: 4px;
    transition: 0.3s;

    &:hover {
      border: none;
      background-color: #fff;
      cursor: pointer;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transition: 0.3s;
    }

    .box_txt {
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      display: flex;
      align-items: center;
      letter-spacing: -0.4px;

      color: #0f1826;

      &_end {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: -0.32px;
        margin-top: 13px;
        color: #607987;
      }
    }
  }
  .view_alls {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-top: 18px;
    color: #0eb182;
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 580px) {
  .boxes {
    display: flex;
    flex-wrap: wrap;
  }
  .programming {
    width: 100% !important;
  }
}

// Bizning kurslar tugadi

// Ish joyi boshlandi

#work_place {
  .works_txt {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    margin-top: 48px;
    color: #0f1826;

    &_p {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      margin-top: 24px;
      color: #607987;
    }
  }
  .grid_works {
    margin-top: 48px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    row-gap: 31px;
    padding-bottom: 88px;
  }
  .work_icons {
    padding: 16px 12px;
    width: 160px;
    height: 100px;
    left: 0px;
    top: 0px;
    cursor: pointer;
    background: #f9f8f7;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: 0.5s;

    &:hover {
      background: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      filter: hue-rotate(0);
      transition: 0.5s;
    }
  }
}
@media screen and (max-width: 1110px) {
  .grid_works {
    display: grid;
    grid-template-columns: auto auto auto auto auto !important;
    row-gap: 31px;
  }
}
@media screen and (max-width: 979px) {
  .grid_works {
    display: grid;
    grid-template-columns: auto auto auto auto !important;
    row-gap: 31px;
  }
}
@media screen and (max-width: 746px) {
  .grid_works {
    display: grid;
    grid-template-columns: auto auto auto !important;
    row-gap: 31px;
  }
}
@media screen and (max-width: 552px) {
  .grid_works {
    display: grid;
    grid-template-columns: auto auto !important;
    row-gap: 31px;
  }
}

// Ish joyi tugadi

// form boshlandi

#form {
  padding: 0 20px;
  .left_img {
    width: 100%;
    background-image: url("../../images/formImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 12px 0 0 12px;
    max-width: 512px;
    height: 632px;
  }
  .form_bg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    max-width: 1118px;
    height: 634.08px;
    left: 401px;
    top: 2686px;

    background: #f9f8f7;
    border-radius: 20px;

    // .form_img {
    //   width: 100%;
    // }
  }
  .form_bits {
    max-width: 448px;
    height: 570.08px;
    margin: 32px;
    background: #ffffff;
    border-radius: 16px;

    &_h2 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 40px;
      display: flex;
      align-items: center;
      margin-left: 40px;
      margin-top: 45px;
      color: #0f1826;
    }
    .faq {
      max-width: 361px;
      font-family: "Lato";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      // display: flex;
      // align-items: center;
      margin: 0 auto;
      color: #607987;
      margin-top: 16px;

      span {
        display: inline-block;
        color: #ba8d5b;
        padding-right: 5px;
      }
    }

    form {
      margin-top: 32px !important;
      margin-left: 40px !important;
      label {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: -0.28px;

        color: rgba(0, 0, 0, 0.35);
      }
      input {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 17px;
        outline: none;
        width: 368px;
        height: 45px;
        // width: 100%;
        background: #ffffff;
        border: 1px solid #dadada;
        border-radius: 100px;

        &:focus {
          border: 1px solid skyblue;
        }
      }
      .phone_in {
        margin-top: 16px;
      }
      .send {
        margin-top: 32px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        color: #000000;
        span {
          display: inline-block;
          color: #ba8d5b;
        }
      }
      .btn_send {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 13px 129.16px 13px 128.84px;
        margin-top: 24px;
        max-width: 368px;
        height: 48px;
        border: none;
        color: #fff;
        background: #ba8d5b;
        border-radius: 100px;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .left_img {
    display: none;
  }
}
@media screen and (max-width: 545px) {
  input {
    max-width: 301px !important;
    width: 100% !important;
  }
  .faq {
    width: 300px;
  }
  .form_bits {
    margin: 3px !important;
  }
  .btn_send {
    max-width: 298px !important;
  }
}
@media screen and (max-width: 545px) {
  .faq {
    margin-left: 45px !important;
  }
  .form_bits {
    margin: 3px !important;
  }
  form {
    margin-top: 12px !important;
    margin-left: 10px !important;
  }
}
