
.lot_of {
  display: flex;
  gap: 11.8px;
  p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #0eb182;
  }
}
.btn_view {
  background-color: transparent;
  border: none;
}


